# ===========================
# Environment Variables
# ===========================

.env
backend/.env


# ===========================
# Python
# ===========================

__pycache__/
*.py[cod]
*$py.class


# ===========================
# Virtual Environments
# ===========================

venv/
.venv/


# ===========================
# Testing
# ===========================

.pytest_cache/
.coverage


# ===========================
# Node / React
# ===========================

frontend/node_modules/
frontend/dist/


# ===========================
# IDE
# ===========================

.vscode/
.idea/


# ===========================
# OS
# ===========================

.DS_Store
Thumbs.db